<html>

<body bgcolor=#a3cfb4>

    <center>

        <h1>  PREDICTION : Your look stunning in   </h1>
    
    {%if data == 0%}
    <h1>A-line skirts, ruffled and layered tops, Sleeveless, strapless dresses</h1>

    {%elif data==1 %}
    <h1>V or plunge V and sweetheart necklines, with a belt,body-hugging dresses</h1>

    {%elif data==2 %}
    <h1>printed dresses or patterned jackets, 3/4th sleeves dresses, and flowy tops and flared bottoms</h1>

    {%elif data==3 %}
    <h1>ruffled tops or  deep-V, scoop or boat neck dresses Wide-legged pants</h1>

    {% endif %}
        <br><br>
    <a href='/'>go back to home page</a>

    </center>

</body>

</html>
