<html>
    <body bgcolor=#92a8d1>

        <center>

        <h1> Fashion Style Prediction</h1><br>
        
        <form method="POST", action="{{url_for('predicts')}}">
           <b> Bust size(inches):  <input type="text", name='a', placeholder="enter 1"> <br><br>
            Waistline size(inches) :  <input type="text", name='b', placeholder="enter 2"> <br><br>
            Hips size(inches) :  <input type="text", name='c', placeholder="enter 3"> <br><br>
            <input type="submit" , value='predict!' >
        </form>

        <img src='C:\Users\LENO\Desktop\BEPEC\EndToEnd\Style.jpg' alt="ML fashion">
        
    </center>

    </body>
</html>
